Repository 7066/No.Vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": ["prettier --write"],
  "*.vue": ["eslint", "stylelint --fix", "prettier --write"],
  "*.{scss,less,css,html}": ["stylelint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

规范
  .eslintrc
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

测试
  src/modules/home/views/index.vue
Due: prettier --write, eslint, stylelint --fix

feat: 代码提交时检测
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  package.json
  yarn.lock
Due: prettier --write

feat(2222): :sparkles: 333
  src/a.scss
Due: prettier --write, stylelint --fix

component: :sparkles: 新增组件测试
  src/a.scss
Due: prettier --write, stylelint --fix

feat: :sparkles: 测试commitlint
  src/a.scss
Due: prettier --write, stylelint --fix

component: 新增组件
  a.css
Due: prettier --write, stylelint --fix

style: 样式还原
  a.css
Due: prettier --write, stylelint --fix

feat: :sparkles: 增加 commit 交互及 格式检查
  .commitlintrc.cjs
  .husky/commit-msg
  .stylelintrc
  package.json
  yarn.lock
Due: prettier --write

feat: ✨ 添加 plop 命令式交互 REMARK : 备注, 这里添加详细情况 以及 缺陷编号等
  a.scss
Due: prettier --write, stylelint --fix

feat: :sparkles: 对比 plop 手动实现
  a.scss
Due: prettier --write, stylelint --fix

feat: ✨ 对比 cz-git 实现效果 REMARK : 这里是备注，可以详细说明 或者添加 bug 编号
  a.scss
Due: prettier --write, stylelint --fix

feat: ✨ 增加 plop 提供命令式交互
  .eslintrc-auto-components.d.ts
  package.json
  plop-templates/commit.js
  plop-templates/component.js
  plop-templates/component/index.hbs
  plop-templates/module.js
  plop-templates/module/locales/en.hbs
  plop-templates/module/locales/zh.hbs
  plop-templates/module/route.hbs
  plop-templates/module/service.hbs
  plop-templates/module/store.hbs
  plop-templates/module/views/index.hbs
  plopfile.js
Due: prettier --write, eslint

feat: 使用git提交
  a.scss
Due: prettier --write, stylelint --fix

feat: ✨ 重写git操作提交的信息
  .commitlintrc.cjs
  .husky/commit-msg
  a.scss
  package.json
  plop-templates/commit-msg.js
  plop-templates/commit.js
  plop-templates/component.js
  plop-templates/module.js
Due: prettier --write, eslint, stylelint --fix

feat: ✨ 重写git操作提交的信息
  plop-templates/commit-msg.js
Due: prettier --write, eslint

feat: ✨ 更改文件路径
  build/commit-msg.js
  build/commit-msg/index.js
  build/commit.js
  build/component.js
  build/module.js
  build/templates/component/index.hbs
  build/templates/module/locales/en.hbs
  build/templates/module/locales/zh.hbs
  build/templates/module/route.hbs
  build/templates/module/service.hbs
  build/templates/module/store.hbs
  build/templates/module/views/index.hbs
  package.json
  plopfile.js
Due: prettier --write, eslint

feat: ✨ 更改 plop 默认选项为 commit
  a.scss
Due: prettier --write, stylelint --fix

feat: ✨ 更改 plop 默认选项为 commit
  package.json
  plopfile.js
Due: prettier --write, eslint

feat: ✨ 目录变更
  .eslintrc-auto-components.d.ts
  build/commit-msg/index.js
  build/husky/commit-msg.js
  build/plop/commit.js
  build/plop/component.js
  build/plop/module.js
  build/plop/templates/component/index.hbs
  build/plop/templates/module/locales/en.hbs
  build/plop/templates/module/locales/zh.hbs
  build/plop/templates/module/route.hbs
  build/plop/templates/module/service.hbs
  build/plop/templates/module/store.hbs
  build/plop/templates/module/views/index.hbs
  package.json
  plopfile.js
Due: prettier --write, eslint

feat: ✨ 增加页面
  .eslintrc
  .eslintrc-auto-components.d.ts
  .eslintrc-auto-import.json
  .eslintrc-auto-imports.d.ts
  .lintstagedrc
  .prettierrc
  .stylelintrc
  .vscode/extensions.json
  build/husky/commit-msg.js
  index.html
  package.json
  public/iconfont/demo.css
  public/iconfont/demo_index.html
  public/iconfont/iconfont.css
  public/iconfont/iconfont.js
  public/iconfont/iconfont.json
  public/iconfont/iconfont.ttf
  public/iconfont/iconfont.woff
  public/iconfont/iconfont.woff2
  public/themes/dark_variable.css
  public/themes/light_variable.css
  public/themes/red_variable.css
  src/assets/style/index.ts
  src/assets/style/reset.scss
  src/components/HelloWorld.vue
  src/components/NoHi/components/Basis.vue
  src/components/NoHi/components/Format.vue
  src/components/NoHi/components/Hooks.vue
  src/components/NoHi/index.vue
  src/components/NoLayout/index.vue
  src/hooks/request.ts
  src/hooks/theme.ts
  src/modules/global/views/index.vue
  src/modules/home/route.ts
  src/modules/home/views/index.vue
  src/modules/login/views/index.vue
  vite.config.ts
Due: prettier --write, eslint, stylelint --fix

feat: 优化配置
  .lintstagedrc
  build/vite/config.js
  build/vite/dev.js
  build/vite/index.js
  build/vite/prod.js
  vite.config.ts
Due: prettier --write, eslint

feat: 优化
  .commitlintrc.cjs
  package.json
  yarn.lock
Due: prettier --write

feat: husky
  package.json
Due: prettier --write

feat: husky 升级
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

feat: husky v8
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

feat: husky 升级
  .husky/commit-msg
  .husky/pre-commit
  build/vite/config.js
  package.json
  yarn.lock
Due: prettier --write, eslint

优化项目说明
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  README.md
  package.json
  src/modules/global/views/index.vue
  src/modules/login/views/index.vue
  yarn.lock
Due: prettier --write, eslint, stylelint --fix

Update README.md
  README.md
Due: prettier --write

feat: 增加路由加载方式及修改readme
  README.md
  index.html
  public/themes/light_variable.css
  public/themes/root_variable.css
  src/hooks/i18n.ts
  src/hooks/request.ts
  src/hooks/router.ts
  src/hooks/theme.ts
  src/mock.ts
  src/modules/example1/views/index.vue
  src/modules/example2/views/index.vue
  src/modules/global/components/Aside/Menu.vue
  src/modules/global/components/Header/Theme/index.vue
  src/modules/global/store.ts
  src/modules/home/store.ts
  src/modules/home/views/index.vue
  src/modules/login/views/index.vue
  src/utils/router.ts
Due: prettier --write, eslint, stylelint --fix

feat: 更改 .d.ts 存放位置
  .eslintrc
  .eslintrc-auto-components.d.ts
  @types/auto-components.d.ts
  @types/auto-import.json
  @types/auto-imports.d.ts
  build/vite/config.js
  src/assets/vue.svg
  tsconfig.json
Due: prettier --write, eslint

feat: 更改 .d.ts 存放位置
  @types/auto-import.json
  @types/auto-imports.d.ts
  src/modules/lost/store.ts
Due: prettier --write, eslint

feat: 代码优化
  src/modules/global/components/Header/index.vue
  src/modules/lost/route.ts
Due: prettier --write, eslint, stylelint --fix

feat: ✨ 测试stylelint
  .lintstagedrc
  .stylelintignore
  .vite/index.js
  @types/auto-components.d.ts
  src/assets/style/normalize.css
  src/modules/lost/views/index.vue
Due: prettier --write, eslint, stylelint --fix

feat: ✨ 代码优化
  .lintstagedrc
  .plop/component.js
  .plop/module.js
  @types/auto-components.d.ts
  @types/auto-imports.d.ts
  @types/auto-imports.json
  README.md
  src/modules/global/components/Aside/Menu.vue
  src/modules/global/components/Aside/index.vue
  tsconfig.json
Due: prettier --write, eslint, stylelint --fix

feat: ✨ 代理
  .vite/index.js
  .vite/vite.config.js
  src/modules/example1/service.ts
Due: prettier --write, eslint
